{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Datatables
{% endblock %}

{% block css %}
	<!-- third party css -->
	<link href="/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link
	href="/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
<!-- third party css end -->
{% endblock %}

{% block topbar %}
	{{ include('partials/topbar.html.twig', { page_title: 'Produits' }) }}
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="mt-0 header-title">Liste Produits</h4>
					<a href="{{ path('produits_new') }}" class="btn btn-primary">Ajouter Produit</a>
					<!-- Search Form -->
					<form id="search-form" class="mb-4">
						<input type="text" id="search-query" placeholder="Search..." class="form-control">
					</form>

					<!-- Product Grid -->
					

					<div class="row" id="search-results">
						{% include 'produits/_list.html.twig' %}
					</div>

					<!-- Pagination Controls -->
					<div class="d-flex justify-content-center">
						{{ knp_pagination_render(pagination) }}
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- end row -->


{% endblock %}

{% block javascript %}
	<!-- third party js -->
	<script src="/libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/libs/datatables.net-select/js/dataTables.select.min.js"></script>
	<script src="/libs/pdfmake/build/pdfmake.min.js"></script>
	<script src="/libs/pdfmake/build/vfs_fonts.js"></script>
	<!-- third party js ends -->

	<!-- Datatables init -->
	<script src="/js/pages/datatables.init.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			const searchQuery = document.getElementById('search-query');
			const searchResults = document.getElementById('search-results');

			searchQuery.addEventListener('input', function() {
				const query = searchQuery.value;

				fetch(`{{ path('produits_index') }}?q=${query}`, {
					method: 'GET',
					headers: {
						'X-Requested-With': 'XMLHttpRequest'
					}
				})
				.then(response => response.text())
				.then(html => {
					searchResults.innerHTML = html;
				})
				.catch(error => console.error('Error:', error));
			});
		});
	</script>

{% endblock %}
