<form id="delete-form" method="post" action="{{ path('promotions_delete', {'id': promotion.id}) }}" style="display: none;">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotion.id) }}">
    </form>

    <button id="delete-button" class="btn">
        <i class="fas fa-trash text-danger"></i> Supprimer
    </button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButton = document.getElementById('delete-button');
            const deleteForm = document.getElementById('delete-form');
            
            deleteButton.addEventListener('click', function (e) {
                e.preventDefault(); // Prevent the default button action

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If confirmed, submit the hidden form
                        deleteForm.submit();
                    }
                });
            });
        });
    </script>